

<div id="mapButtonHolder">
    <a id="addPiButton" class="btn-floating  waves-effect waves-light red"  *ngIf="!adMarker"   (click)="adMarker=true"><i class="material-icons">    add</i></a>
    <a id="moveButton"  class="btn-floating  waves-effect waves-light red"  *ngIf="adMarker"    (click)="adMarker=false"><i class="material-icons"> open_with</i></a>
    <br>
<a id="zoomInMap"   class="btn-floating waves-effect waves-light green"                         (click)="zoomIn()"><i class="material-icons">   zoom_in</i></a>
    <br>
    <a id="zoomOutMap"  class="btn-floating waves-effect waves-light orange "                   (click)="zoomOut()"><i class="material-icons">  zoom_out</i></a>
</div>

<canvas #myCanvas id="map" >
</canvas>




<div id="markerModel" class="modal">
    <div class="modal-content">
        <h4>Station toevoegen</h4>
        <div class="row">
            <div class="input-field col s12">
                <input id="mac" type="text" pattern="^([0-9A-Fa-f]{2}[:-]){5}([0-9A-Fa-f]{2})$" [ngModel]="macAdress" class="validate">
                <label for="mac"  data-error="wrong" data-success="right">Station Adress</label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a (click)="closeModal()" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        <a (click)="closeModal()" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>



