<nav class="teal">
    <div class="nav-wrapper">
        <a href="/home" class="brand-logo">Toermalien</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li [routerLinkActive]="['link-active']"><a [routerLink]="['/home']">Home</a></li>
            <li [routerLinkActive]="['link-active']"><a [routerLink]="['/counter']">Counter</a></li>
            <li [routerLinkActive]="['link-active']"><a [routerLink]="['/fetch-data']">Fetch data</a></li>
        </ul>
    </div>
</nav>
