#images{
    margin-left: 7%;
}

table {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
    border-collapse: separate;
}

th {
    color: teal;
    font-weight: bolder;
}


h5{
    color: #333;
}

.pointer{
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    visibility: hidden;
}

.card:hover .pointer{
    visibility: visible;
    background-color: whitesmoke;
    border-radius: 50%;
    padding: 6px;
}
.modal .modal-content {
    padding-bottom: 0;
}

#deleteModal {
    background: #333333;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ededed, #cecece);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ededed, #cecece); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
