.pointer{
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  visibility: hidden;
}

.card:hover .pointer{
  visibility: visible;
  background-color: whitesmoke;
  border-radius: 50%;
  padding: 6px;
}
.modal .modal-content {
  padding-bottom: 0;
}

#deleteModalVideo {
  background: #333333;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ededed, #cecece);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ededed, #cecece); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.card {
  max-width: 260px;
  max-height: 260px;
}
