.pointer{
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  visibility: hidden;
}

.card:hover .pointer{
  visibility: visible;
  background-color: whitesmoke;
  border-radius: 50%;
  padding: 6px;
}
.modal .modal-content {
  padding-bottom: 0;
}

.cardpicture {
  position: relative;
  overflow: hidden;
}
