.pointer{
  position: absolute;
  top: 5px;
  right: 5px; 
  cursor: pointer;
  visibility: hidden;
}

.modal .modal-content {
  padding-bottom: 0;
}

.parentpicture {
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
}

.parentpicture:hover .pointer{
  visibility: visible;
  background-color: whitesmoke;
  border-radius: 50%;
  padding: 6px;
}

.childpicture{
 
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    height: 250px;
}