<ul id="slide-out" class="side-nav fixed orange">
    <li [routerLinkActive]="['link-active']"><a [routerLink]="['/resident']"><i class="material-icons">people</i> Overzicht bewoners </a></li>
    <li><a [routerLink]="['/resident', id]"><i class="material-icons"></i>Personlia</a></li>
    <li><a [routerLink]="['/resident', id, 'picture']"><i class="material-icons"></i> Afbeeldingen </a></li>
    <li><a [routerLink]="['/resident', id, 'video']"><i class="material-icons">verified_user</i> Videos </a></li>
    <li><a [routerLink]="['/resident', id, 'audio']"><i class="material-icons">verified_user</i> Audio </a></li>
    <li><a [routerLink]="['/resident', id, 'game']"><i class="material-icons">verified_user</i> Spel </a></li>
    <li><a [routerLink]="['/resident', id, 'tracking']"><i class="material-icons">verified_user</i> Tracking </a></li>
</ul>