<ul id="slide-out" class="side-nav fixed orange" style="z-index: 0">
    <li><a [routerLink]="['/resident', id]"><i class="material-icons">person</i>Personlia</a></li>
    <li><a [routerLink]="['/resident', id, 'picture']" class="waves-effect"><i class="material-icons">photo</i>Foto's </a></li>
    <li><a [routerLink]="['/resident', id, 'video']" class="waves-effect"><i class="material-icons">ondemand_video</i>Videos </a></li>
    <li><a [routerLink]="['/resident', id, 'audio']" class="waves-effect"><i class="material-icons">audiotrack</i>Audio </a></li>
    <li><a [routerLink]="['/resident', id, 'game']" class="waves-effect"><i class="material-icons">videogame_asset</i>Spel </a></li>
    <li><a [routerLink]="['/resident', id, 'tracking']" class="waves-effect"><i class="material-icons">location_on</i>Tracking </a></li>
    <li [routerLinkActive]="['link-active']"><a [routerLink]="['/resident']" class="waves-effect"><i class="material-icons">keyboard_arrow_left</i>Terug </a></li>
</ul>