@{
    ViewData["Title"] = "Home Page";
}

<app>
    
    <div class="holder">Toermalien WebApp Wordt Geladen...</div>
    <div class="loader">

    </div>
</app>

<script src="~/dist/vendor.js" ></script>
    <script src="~/dist/main-client.js" ></script>

