<app-senior></app-senior>

<div class="columns is-multiline">
    <div class="align-center" *ngFor="let link of fullLinks">
        <div class="column">
            <div class="col s6 m4">
                <video controls>
                    <source [src]="link.videos.url">
                </video>
                <i class="material-icons red-text pointer" (click)="deleteResidentMediaByUniqueId(link.videos.id)">delete</i>
            </div>
           
        </div>
       
        
    </div>
    
</div>


<app-upload [type]="typeOfMedia"  (reload)="reload()"></app-upload>
