<!-- Searchicon and bar -->
<div 
  *ngIf="loading==true" 
  style="background: black;
    background: rgba(0, 0,0,0.7);
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    color:white;
    z-index: 99999999999999999999;
  "></div>

<div class="row">
	<div class="col s1 offsetsearchButton">
		<a class="btn-floating btn-large waves-effect waves-light amber darken-2" *ngIf="!search" (click)="search=!search;focusInput()">
			<i class="material-icons">search</i>
		</a>
		<a class="btn-floating btn-large waves-effect waves-light amber darken-4" *ngIf="search" (click)="search=!search">
			<i class="material-icons">zoom_out</i>
		</a>
	</div>

	<div class="col s10" *ngIf="search">
		<input id="focusToInput" type="text" [(ngModel)]="term" placeholder="Zoek..." autofocus>
	</div>
</div>

<ng-template #loading>
	Loading Residents...
</ng-template>

<!-- Cards with user -->
<div class="row">
	<div class="col s12 m6 l4" *ngFor="let user of users | filter:term">
		<div id="content" class="card">
			<table>
				<tr>
					<th>Gebruikersnaam:</th>
					<td class="text-uppercase">{{user.userName}}</td>
				</tr>
				<tr>
					<th>Email:</th>
					<td>{{user.email}}</td>
				</tr>
				<tr>
					<th>Niveau</th>
					<th>
						<span *ngIf="user.userType==0">
							Admin
						</span>
						<span *ngIf="user.userType==1">
							Zorgkundige
						</span>
						<span *ngIf="user.userType==2">
							Gebruiker
						</span>

					</th>
				</tr>
				<!-- <tr>
					<th>Bewoner(s)</th>
					<td>{{user.resident}}</td>
				</tr>
				<tr>
					<th>Groep</th>
					<td>{{user.group}}</td>
				</tr> -->
			</table>

			<!-- action buttons per user-card -->
			<div class="row" style="padding-bottom: 10px">
				<div class="col s4 center" (click)="editUserModal(user)">
					<i class="material-icons blue-text pointer">edit</i>
				</div>
				<div class="col s4 center" title="Toegewezen bewoners bekijken">
					<i class="material-icons red-text pointer" (click)="openResToUserModal(user)">group</i>
				</div>
				<div class="col s4 center">
					<i class="material-icons red-text pointer" (click)="openModal(user)">delete</i>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- Form to add user -->
<div id="add-user-modal" class="modal">
	<div class="modal-content">
		<h5>Een nieuw gebruiker toevoegen</h5>

		<div class="col s12">

			<div class="row">
				<div class="input-field col s6">
					<input id="userName" [(ngModel)]="createUserModel.userName" type="text" class="validate" name="userName" required>
					<label for="userName">Gebruikersnaam
						<sup style="color:#ff2200;">*</sup>
					</label>
				</div>
				<div class="input-field col s6">
					<input id="email" [(ngModel)]="createUserModel.email" type="email" class="validate" name="email" required>
					<label for="email">Email
						<sup style="color:#ff2200;">*</sup>
					</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<angular2-multiselect [data]="userTypes" [(ngModel)]="createUserModel.usertypeModel" (onSelect)="SelectCreateType($event)"
					    [settings]="settings">
					</angular2-multiselect>
				</div>

			</div>

			<div class="row">
				<div class="input-field col s6">
					<input [(ngModel)]="createUserModel.password" id="password" type="password" class="validate" [(ngModel)]="password" name="password1"
					    required>
					<label for="password">Wachtwoord
						<sup style="color:#ff2200;">*</sup>
					</label>
				</div>
				<div class="input-field col s6">
					<input id="password-check" [(ngModel)]="createUserModel.verPassword" type="password" class="validate" [(ngModel)]="passwordcheck"
					    name="password-check" required>
					<label for="password-check">Wachtwoord
						<sup style="color:#ff2200;">*</sup>
					</label>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn waves-effect waves-light green lighten-1" type="submit" name="action" (click)="createUser()">
					Toevoegen
					<i class="material-icons right">send</i>
				</button>
				<a (click)="resetForm()" class="btn waves-effect waves-light red lighten-1 modal-action modal-close">
					Annuleren
					<i class="material-icons right">cancel</i>
				</a>
			</div>

		</div>
	</div>
</div>

<!-- Form to edit user -->
<div id="edit-user-modal" class="modal">
	<div class="modal-content">
		<h5>Een gebruiker bewerken</h5>

		<div class="col s12">

			<div class="row">
				<div class="input-field col s6">
					<input id="userNameEdit" [(ngModel)]="editUserModel.userName" type="text" class="validate" name="userName" required placeholder="{{editUserModel.userName}}">
					<label for="userNameEdit" class="active">Gebruikersnaam
						<sup style="color:#ff2200;">*</sup>
					</label>
				</div>
				<div class="input-field col s6">
					<input id="emailEdit" [(ngModel)]="editUserModel.email" type="email" class="validate" name="email" required placeholder="{{editUserModel.email}}">
					<label for="emailEdit" class="active">Email
						<sup style="color:#ff2200;">*</sup>
					</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s6">
					<angular2-multiselect [data]="userTypes" [(ngModel)]="editUserModel.usertypeModel" (onSelect)="SelectEditType($event)" [settings]="settings">
					</angular2-multiselect>
				</div>
				<div class="input-field col s6">
					<input [(ngModel)]="editUserModel.password" id="passwordEdit" type="password" class="validate" [(ngModel)]="password" name="password1"
					    required>
					<label for="passwordEdit">Wachtwoord
						<sup style="color:#ff2200;">*</sup>
					</label>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn waves-effect waves-light green lighten-1" type="submit" name="action" (click)="editUser(editUserModel)">
					Toevoegen
					<i class="material-icons right">send</i>
				</button>
				<a (click)="resetForm()" class="btn waves-effect waves-light red lighten-1 modal-action modal-close">
					Annuleren
					<i class="material-icons right">cancel</i>
				</a>
			</div>

		</div>
	</div>
</div>

<!-- Modal Trigger -->
<!-- This will pop up the form to add a user -->
<div class="fixed-action-btn">
	<a class="btn-floating btn-large red" (click)="openAddUserModal()">
		<i class="large material-icons">person_add</i>
	</a>
</div>

<!-- This will pop up the form to delete a user -->
<div id="deleteModalUser" class="modal">
	<div class="modal-content">
		<h5 class="valign-wrapper" style="color:crimson">
			<i class="material-icons red-text pointer">warning</i>Waarschuwing
		</h5>
		<p>
			<strong>Let op!</strong> U staat op het punt
			<strong class="attention">{{userModal.userName}}
			</strong> te verwijderen!
			<br> Bent u zeker?
		</p>
	</div>
	<div class="modal-footer">
		<button class="btn modal-action modal-close waves-effect waves-red btn-flat red lighten-1 white-text" (click)="deleteUser(userModal.id)">
			Verwijder
			<i class="material-icons red lighten-1 white-text right">remove_circle</i>
		</button>
		<button class="btn modal-action modal-close waves-effect waves-green btn-flat blue lighten-1 white-text" (click)="closeModal()">
			Annuleer
			<i class="material-icons right">cancel</i>
		</button>
	</div>
</div>

<!-- add residents our residents group to user modal -->
<div id="residentToUserModal" class="modal modal-fixed-footer">
	<div class="modal-content">
		<h5>Bewoner of Groep koppelen aan gebruiker...</h5>
		<angular2-multiselect [data]="residentsList" 
                      [(ngModel)]="selectedItems" 
                      [settings]="settingsResident" 
					  (onSelect)="OnResidentSelect($event)"
					  (onSelectAll)="onSelectAllResidents($event)"
					  (onDeSelectAll)="onDeSelectAllResidents($event)"
                      (onDeSelect)="OnResidentDeSelect($event)">
		</angular2-multiselect>
	</div>
	<div class="modal-footer">
		<a class="modal-action modal-close waves-effect waves-green btn-flat" (click)="linkUsersToResident()" >Bevestigen</a>
		<a class="modal-action modal-close waves-effect waves-red btn-flat ">Annuleren</a>
	</div>
</div>