table{
    margin: 16px;
}

td, th {
    padding: 8px 5px;
}

.card{
    padding-top: 3px;
}

.pointer {
    cursor: pointer;
}

h5{
    margin-bottom: 2%;
}

.text-uppercase{
    text-transform: capitalize;
}
