<app-senior></app-senior>

<!-- Personal information table -->
<div class="row ">
    <div class="col s12 m3">
        <img src="http://localhost:5000/api/v1/residents/{{resident.id}}/picture" onError="this.onerror=null;this.src='/images/resident.jpg';" class="circle responsive-img z-depth-2"/>
    </div>
    <div class="col s12 m9">
        <h5>Persoonlijke informatie</h5>
        <table class="striped responsive-table z-depth-2">

            <tbody>
            <tr>
                <th>Voornaam: </th>
                <td>{{resident.firstName}}</td>
                <th>Naam: </th>
                <td>{{resident.lastName}}</td>
            </tr>
            <tr>
                <th>GebDatum: </th>
                <td>{{resident.birthday | date:'dd-MM-yyyy'}}</td>
                <th>Kamer: </th>
                <td>{{resident.room}}</td>
            </tr>
            <tr>
                <th>Arts:</th>
                <td>{{resident.doctor.name}}</td>
                <th>tel:</th>
                <td>{{resident.doctor.phoneNumber}}</td>
            </tr>
            </tbody>

        </table>
    </div>
</div>

<!-- Pills with item count -->
<div class="row" style="margin-top:60px;">
    <div class="col s6 m3">
        <a [routerLink]="['/resident', id, 'picture']">
            <div class="card">
                <div class="card-content center-align blue-grey lighten-5 card-photo">
                    <i class="large material-icons">photo</i>
                </div>
                <span class="badge amber darken-2 white-text">foto: 14</span>
                <span class="badge amber darken-2 white-text">foto: {{countI}}</span>
            </div></a>
    </div>
    <div class="col s6 m3">
        <a [routerLink]="['/resident', id, 'video']">
            <div class="card">
                <div class="card-content center-align card-video">
                    <i class="large material-icons">ondemand_video</i>
                </div>
                <span class="badge orange darken-2 white-text">video: 9</span>
                <span class="badge orange darken-2 white-text">video: {{countV}}</span>
            </div></a>
    </div>
    <div class="col s6 m3">
        <a [routerLink]="['/resident', id, 'audio']">
            <div class="card">
                <div class="card-content blue-grey lighten-5 center-align card-audio">
                    <i class="large material-icons">audiotrack</i>
                </div> <span class="badge amber darken-2 white-text">audio: 2</span>
                </div> <span class="badge amber darken-2 white-text">audio: 1</span>
            </div></a>
    </div>
    <div class="col s6 m3">
        <a [routerLink]="['/resident', id, 'game']">
            <div class="card">
                <div class="card-content center-align card-game">
                    <i class="large material-icons">videogame_asset</i>
                </div>
                <span class="badge orange darken-2 white-text">spel: 0</span>
            </div></a>
    </div>
</div>


<!-- Table with assigned beacon-tags -->
<div class="row">
    <div class="col s12">
        <h5>Gekoppelde tags</h5>
        <table class="striped responsive-table centered z-depth-2">
            <tbody>
            <tr>
                <th>Tags</th>
                <td *ngFor="let tag of resident.tags">{{tag}}</td>
            </tr>
            <tr>
                <th>Verwijderen</th>
                <td *ngFor="let tag of resident.tags"><i class="material-icons red-text pointer" (click)="deleteTag(tag)">delete</i></td>
            </tr>
            </tbody>
        </table>
        
        <div class="action-btn">
            <a class="btn-floating btn-large red right" (click)="addTag()" style="top:-20px;">
                <i class="material-icons">add</i>
            </a>
        </div>
    </div>
</div>
        

