img.aClassName{
    width: 25% !important;
}

label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: orangered;
    padding: 20px;
    display: inline-block;
}

label,
label:hover {
    background-color: red;
    cursor: pointer;
}

.imgPlaceholder{
    width:100%;
}
.modal.modal-fixed-footer{
    height: 50%;
}