<div class="row myRow">

  <div class="col s1">
    <a class="btn-floating btn-large waves-effect waves-light blue"
       (click)="view='list-view'"
       *ngIf="view=='card-view'">
      <i class="material-icons pointer">view_list</i>
    </a>
    <a class="btn-floating btn-large waves-effect waves-light blue"
       (click)="view='card-view'"
       *ngIf="view=='list-view'">
      <i class="material-icons pointer">view_comfy</i>
    </a>
  </div>


  <div class="col s1 offsetsearchButton">
    <a class="btn-floating btn-large waves-effect waves-light amber darken-2"
       *ngIf="!search"
       (click)="search=!search;focusInput()">
      <i class="material-icons">search</i>
    </a>
    <a class="btn-floating btn-large waves-effect waves-light amber darken-4"
       *ngIf="search"
       (click)="search=!search">
      <i class="material-icons">zoom_out</i></a>
  </div>

  <div class="col s10" *ngIf="search">
    <input id="focusToInput" type="text" [(ngModel)]="term" placeholder="Zoek..." autofocus>
  </div>
</div>

<ng-template #loading>
  Loading Residents...
</ng-template>

<!--Switch to cardview-->
<div class="row" *ngIf="view=='card-view';">
  <div class="col s12 m6 l4" *ngFor="let resident of residents | filter:term">
    <!-- resident's personal content on cardview -->
    <div id="content" class="card">
      <img onError="this.onerror=null;this.src='assets/images/residents.jpg';"
           style="cursor:pointer"
           src="/api/v1/residents/{{resident.id}}/picture?token={{login.token}}"
           class="z-depth-2"
           (click)="navigateTo(resident)"/>
      <table>
        <tr>
          <td colspan="2" class="cardviewtd center">{{resident.firstName}}, {{resident.lastName}}</td>
        </tr>
        <tr>
          <th class="cardviewth right">kamer:</th>
          <td class="cardviewtd">{{resident.room}}</td>
        </tr>
        <tr>
          <th class="cardviewth right">gebdatum:</th>
          <td class="cardviewtd">{{resident.birthday | date:'dd-MM-yyyy'}}</td>
        </tr>
        <tr>
          <th class="cardviewth right">arts:</th>
          <td class="cardviewtd test">{{resident.doctor.name}}</td>
        </tr>
        <tr>
          <th class="cardviewth right">tel:</th>
          <td class="cardviewtd">{{resident.doctor.phoneNumber}}</td>
        </tr>
      </table>
      <!-- action buttons per resident-card -->
      <div class="row">
        <div class="col s4 center">
          <i class="material-icons blue-text pointer" (click)="openEditModal(resident)">edit</i>
        </div>
        <div class="col s4 center">
          <i class="material-icons orange-text pointer" (click)="navigateTo(resident)">portrait</i>
        </div>
        <div class="col s4 center">
          <i class="material-icons red-text pointer" (click)="openModal(resident)">delete</i>
        </div>
      </div>
    </div>

  </div>
</div>


<!--Switch to listView-->
<div class="row" *ngIf="view=='list-view'">
  <table class="striped responsive-table">
    <thead class="color-grad">
    <tr>
      <th class="myth">Voornaam</th>
      <th>Naam</th>
      <th>Geboortedatum</th>
      <th>Kamer</th>
      <th>Huisarts</th>
      <th>Tel:</th>
      <th colspan="3">Actie</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let resident of residents | filter:term">
      <td class="mytd">{{resident.firstName}}</td>
      <td>{{resident.lastName}}</td>
      <td>{{resident.birthday | date:'dd-MM-yyyy'}}</td>
      <td>{{resident.room}}</td>
      <td>{{resident.doctor.name}}</td>
      <td>{{resident.doctor.phoneNumber}}</td>
      <td class="center"><i class="material-icons orange-text pointer" (click)="navigateTo(resident)">portrait</i></td>
      <td class="center"><i class="material-icons blue-text pointer" (click)="openEditModal(resident)">edit</i></td>
      <td class="center"><i class="material-icons red-text pointer" (click)="openModal(resident)">delete</i></td>
    </tr>
    </tbody>
  </table>
</div>


<!--DELETE MODAL-->
<div id="deleteModalResident" class="modal">
  <div class="modal-content">
    <h5 class="valign-wrapper" style="color:crimson"><i class="material-icons red-text pointer">warning</i>Waarschuwing
    </h5>
    <p>
      <strong>Let op!</strong> U staat op het punt <strong class="attention">{{modalResident.lastName}},
      {{modalResident.firstName}}</strong> te verwijderen!<br>
      Bent u zeker?
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn modal-action modal-close waves-effect waves-red btn-flat red lighten-1 white-text"
            (click)="deleteResident(modalResident.id)">
      Verwijder
      <i class="material-icons red lighten-1 white-text right">remove_circle</i>
    </button>
    <button class="btn modal-action modal-close waves-effect waves-green btn-flat blue lighten-1 white-text"
            (click)="closeModal()">
      Annuleer
      <i class="material-icons right">cancel</i>
    </button>
  </div>
</div>
<!--EDIT MODAL-->
<div id="editModalResident" class="modal">
  <div class="modal-content">
    <h6>
      Gegevens van <strong class="blue-text">{{modalResident.firstName}} {{modalResident.lastName}}</strong> wijzigen?
    </h6>
    <div class="row">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="{{modalResident.firstName}}"
                 [(ngModel)]="updateResident.firstName"
                 id="first_name"
                 type="text" class="validate">
          <label for="first_name" class="active">Voornaam</label>
        </div>
        <div class="input-field col s6">
          <input placeholder="{{modalResident.lastName}}"
                 [(ngModel)]="updateResident.lastName"
                 id="last_name"
                 type="text" class="validate">
          <label for="last_name" class="active">Naam</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="{{modalResident.room}}"
                 [(ngModel)]="updateResident.room"
                 id="room"
                 type="text"
                 class="validate">
          <label for="room" class="active">Kamer</label>
        </div>
        <div class="input-field col s6">
          <input placeholder="{{modalResident.birthday | date:'dd-MM-yyyy' }}"
                 [(ngModel)]="updateResident.birthday"
                 id="birthDay"
                 type="text"
                 class="validate datepicker">
          <label for="birthDay" class="active">Geboortedatum</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="{{modalResident.doctor.name}}"
                 [(ngModel)]="updateResident.doctor.name"
                 id="doctor_name"
                 type="text"
                 class="validate">
          <label for="doctor_name" class="active">Huisarts</label>
        </div>
        <div class="input-field col s6">
          <input placeholder="{{modalResident.doctor.phoneNumber}}"
                 [(ngModel)]="updateResident.doctor.phoneNumber"
                 id="doctor_number"
                 type="text"
                 class="validate">
          <label for="doctor_number" class="active">Tel:</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input #myInput class="center"
                 type="file"
                 name="aProfilePicure"
                 id="eProfilePicture"
                 (change)="onFileSelected($event)"
                 accept="image/*"/>
          <sup style="color:#ff2200;">*</sup>
        </div>
        <div class="input-field col s6">
          <img [src]="profilePic"
               alt="Geen foto geselecteerd"
               for="eProfilePicture"
               height="200"
               width="200"/>
        </div>
      </div>
      <div class="right" style="margin-top: 30px">
        <a class="modal-action modal-close waves-effect waves-red btn-flat green lighten-1 white-text"
           (click)="editResident(modalResident); reset()">
          Wijzigen
          <i class="material-icons right">send</i>
        </a>
        <a class="modal-action modal-close waves-effect waves-green btn-flat red lighten-1 white-text"
           (click)="closeModal(); reset()">
          Annuleer
          <i class="material-icons right">cancel</i>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Modal Structure -->
<!-- Form to add resident -->
<div id="add-resident-modal" class="modal">
  <div class="modal-content">
    <h6>Een nieuwe bewoner toevoegen</h6>
    <div class="row">
      <form class="col s12" (ngSubmit)="addResident(f)" #f="ngForm">
        <div class="row">
          <div class="input-field col s6">
            <input id="afirst_name" type="text" class="validate" ngModel name="aFirstName" required>
            <label for="afirst_name">Voornaam<sup style="color:#ff2200;">*</sup></label>
          </div>
          <div class="input-field col s6">
            <input id="alast_name" type="text" class="validate" ngModel name="aLastName" required>
            <label for="alast_name">Familienaam<sup style="color:#ff2200;">*</sup></label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input id="aroom" type="text" class="validate" ngModel name="aRoom" required>
            <label for="aroom">Kamer<sup style="color:#ff2200;">*</sup></label>
          </div>
          <div class="input-field col s6">
            <input id="abirthdate" type="text" class="datepicker validate" ngModel name="aBirthday">
            <label for="abirthdate">Geboortedatum</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input id="adoctor" type="text" class="validate" ngModel name="aDoctor">
            <label for="adoctor">Huisarts</label>
          </div>
          <div class="input-field col s6">
            <input id="atelefoon"
                   type="text"
                   class="validate"
                   ngModel name="aTelefoon"
                   pattern="[0-9\s]{10}"
                   placeholder="012 345 678">
            <label for="atelefoon" class="active">Telefoon</label>
          </div>
        </div>
        <div class="row center">
          <div class="input-field col s6">
            <input #myInput class="center"
                   type="file"
                   name="aProfilePicure"
                   id="aProfilePicture"
                   (change)="onFileSelected($event)"
                   accept="image/*"/>
            <sup style="color:#ff2200;">*</sup>
          </div>
          <div class="input-field col s6">
            <img [src]="profilePic"
                 alt="Geen foto geselecteerd"
                 for="aProfilePicture"
                 height="200"
                 width="200"/>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn waves-effect waves-light green lighten-1"
                  type="submit"
                  name="action"
                  [disabled]="!f.valid">
            Toevoegen
            <i class="material-icons right">send</i>
          </button>
          <a (click)="resetForm(f); reset()"
             class="btn waves-effect waves-light red lighten-1 modal-action modal-close">
            Annuleren
            <i class="material-icons right">cancel</i>
          </a>
        </div>

      </form>
    </div>
  </div>

</div>

<!-- Modal Trigger -->
<!-- This will pop up the form to add a resident -->
<div class="fixed-action-btn" *ngIf="login.level==0">
  <a class="btn-floating btn-large red" (click)="openResidentAddModal()">
    <i class="large material-icons">person_add</i>
  </a>
</div>
