<app-senior></app-senior>


<!-- Personal information table -->
<div class="row valign-wrapper">
  <div class="col s12 m4 l3">
    <!--<img src="/api/v1/residents/{{resident.id}}/picture" onError="this.onerror=null;this.src='assets/images/residents.jpg';" class="circle responsive-img z-depth-2"/>-->
    <img src="{{src2}}" onError="this.onerror=null;this.src='assets/images/residents.jpg';" class="circle responsive-img z-depth-2"/>
  </div>
  <div class="col s12 m8 l9">
    <h5>Persoonlijke informatie</h5>
    <table class="striped z-depth-2">
      <tbody>
      <tr>
        <th>Voornaam: </th>
        <td>{{resident.firstName}}</td>
        <th>Naam: </th>
        <td>{{resident.lastName}}</td>
      </tr>
      <tr>
        <th>GebDatum: </th>
        <td>{{resident.birthday | date:'dd-MM-yyyy'}}</td>
        <th>Kamer: </th>
        <td>{{resident.room}}</td>
      </tr>
      <tr>
        <th>Arts:</th>
        <td>{{resident.doctor.name}}</td>
        <th>tel:</th>
        <td>{{resident.doctor.phoneNumber}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>



<!-- Pills with item count -->
<div class="row" style="margin-top:60px;">
  <div class="col s6 m3">
    <a [routerLink]="['/resident', id, 'picture']">
      <div class="card">
        <div class="card-content center-align blue-grey lighten-5 card-photo">
          <i class="large material-icons">photo</i>
        </div>
        <span class="badge amber darken-2 white-text">foto: {{countI}}</span>
      </div></a>
  </div>
  <div class="col s6 m3">
    <a [routerLink]="['/resident', id, 'video']">
      <div class="card">
        <div class="card-content center-align card-video">
          <i class="large material-icons">ondemand_video</i>
        </div>
        <span class="badge orange darken-2 white-text">video: {{countV}}</span>
      </div></a>
  </div>
  <div class="col s6 m3">
    <a [routerLink]="['/resident', id, 'audio']">
      <div class="card">
        <div class="card-content blue-grey lighten-5 center-align card-audio">
          <i class="large material-icons">audiotrack</i>
        </div> <span class="badge amber darken-2 white-text">audio: {{countX}}</span>
      </div></a>
  </div>
  <div class="col s6 m3">
    <a [routerLink]="['/resident', id, 'track']">
      <div class="card">
        <div class="card-content center-align card-game">
          <i class="large material-icons">search</i>
        </div>
        <span class="badge orange darken-2 white-text">Tracking</span>
      </div></a>
  </div>
</div>


<!-- Table with assigned beacon-tags -->
<div class="row" *ngIf="[1,0].includes(login.level)">
  <div class="col s12">
    <h5>Gekoppelde tags</h5>
    <table class="striped centered z-depth-2">
      <tbody>
      <tr>
        <th>Tags</th>
        <td *ngFor="let tag of resident.tags">{{tag}}</td>
      </tr>
      <tr>
        <th>Verwijderen</th>
        <td *ngFor="let tag of resident.tags"><i class="material-icons red-text pointer"  id="iconPointer" (click)="deleteTagModal(tag)">delete</i></td>
      </tr>
      </tbody>
    </table>

    <div class="action-btn">
      <a class="btn-floating btn-large red right" (click)="openAddBeaconModal()" style="top:-20px;">
        <i class="material-icons">add</i>
      </a>
    </div>
  </div>
</div>

<!-- Modal popup asking/warning to delete beacon/tag -->
<div id="deleteTagModal" class="modal">
  <div class="modal-content">
    <div class="row valign-wrapper">
      <div class="col s2 m2">
        <i class="large material-icons red-text">warning</i>
      </div>
      <div class="col s10 m8">
        <h5>U staat op het punt  <span style="color: crimson">tag {{tag}}</span> te verwijderen!<br>
          Bent u zeker?</h5>
      </div>
    </div>
    <div class="row">
      <div class="col s12 right-align">
        <a (click)="CloseModal()" class="modal-close waves-effect waves-green btn-flat">Annuleren</a>
        <a (click)="deleteTag(tag)" class=" waves-effect waves-red btn-flat red-text">Verwijderen</a>
      </div>
    </div>
  </div>
</div>

<!-- Modal popup to add beacon/tag -->
<div id="add-beacon-modal" class="modal">
  <div class="modal-content">
    <div class="row valign-wrapper">
      <div>
        <h6>Koppel hier een beacon aan bewoner {{resident.firstName}} {{resident.lastName}}</h6>
      </div>
      <form class="col s12" (ngSubmit)="addBeaconTag(f)" #f="ngForm">
        <div class="row">
          <div class="input-field col s6">
            <input id="aBeacon_minor_number" type="number" class="validate" ngModel name="aBeaconMinorNumber" required>
            <label for="aBeacon_minor_number">Minor<sup style="color:#ff2200;">*</sup></label>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn waves-effect waves-light green lighten-1" type="submit" name="action" [disabled]="!f.valid">
            Toevoegen
            <i class="material-icons right">send</i>
          </button>
          <a (click)="resetForm(f)"
             class="btn waves-effect waves-light red lighten-1 modal-action modal-close">
            Annuleren
            <i class="material-icons right">cancel</i>
          </a>
        </div>
      </form>

    </div>
  </div>
</div>
